body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: rgb(99, 104, 249);
    color: white;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

footer {
    background-color: rgb(99, 104, 249);
    color: beige;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

h1 {
    margin-right: 10px;
    font-family: verdana;
    float: unset;
    text-shadow: 1px 1px 5px black;
}

h2 {
    margin: 1.25rem auto;
    margin-left: 250px;
    text-shadow: 1px 1px 5px black;
}

img {
    margin-right: 550px;
    margin-top: -95px;
}

header {
    border: 1px solid black;
}

nav {
    border-bottom-style: solid;
    border-top-style: solid;
}