@media only screen and (min-width:1028) {
    main { 
        grid-template-columns: 20% 20% 20%; 
        grid-auto-rows: minmax(200px auto);
        max-width: 75rem; 
        margin: 0 auto; 
    }
}