* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: verdana;
    font-size: 16px;
}

header {
    background-color: #2e5cb8;
    padding: 1rem 2%;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: blanchedalmond;
}
main figure img {width: 100%;}
main figure {
    width: 100%;
    margin: auto;
}
h3 {
    color: white;
    background-color: #ffc61a;
    margin: 0;
    padding: 2px;
    

}
h4 {
    padding: 2px;
    text-decoration: none;
    margin: .1rem 0;
}
h4.link:hover {
    background-color: black;
}
.white-space {
    color:white;
    background-color: #4d2600;
    margin: 5px;
    padding: 0;
}
.Alignment {
    color:white;
    background-color: #4d2600;
    margin: 5px;
    padding: 0;
}
.Repetition {
    color:white;
    background-color: #4d2600;
    margin: 5px;
    padding: 0;
}

p {
    text-align: center;
}
footer {
    background-color: #4d2600;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    margin: 0;
}